.width-80 {
  width: 80%;
}

.width-30 {
  width: 30%;
}

.width-90 {
  width: 90%;
}

@media (max-width: 990px) {
  .lg\\:block {
    display: none;
  }
  .lg\\:flex {
    display: none;
  }
  .lg\\:hidden {
    display: block;
  }
}

@media (max-width: 826px) {
  #summary-section {
    display: none;
  }

  #payment-section {
    width: 90%;
  }
}

@media (max-width: 458px) {
}
