@media (max-width: 458px) {
  #footer-section {
    flex-direction: column;
  }

  #sec-1,
  #sec-2,
  #sec-3 {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }

  #socials {
    width: 100%;
    justify-content: space-around;
    margin-left: 2rem;
  }
}
