.main-section-height {
  height: 50rem;
}

.perfect-width {
  width: 45%;
}

.perfect-height {
  height: 90%;
}

.bottom-transition-border {
  transition: border-bottom-color 0.3s ease;
}

.bottom-transition-border:hover {
  color: black;
  border-bottom: 2px solid black;
}

.card-width {
  width: 18.6rem;
}

.perfect-width-form {
  width: 48.5%;
}

.bg-transition {
  transition: background-color 0.4s ease;
}

.inline-block-lol {
  display: inline-block;
}

@media (max-width: 414px) {
  #payment-header {
    font-size: 1.25rem;
  }

  #payment-type-1,
  #payment-type-2 {
    margin-right: 1rem;
  }

  #payment-section {
    width: 100%;
  }
}

@media (max-width: 315px) {
  #payment-type-1,
  #payment-type-2 {
    margin-right: 0.5rem;
  }
}

@media (max-width: 458px) {
  #pay-button,
  #back-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
